/*
#437FC7
#6DAFFE
#EDF6FF
#FFFFFF
#B9732F
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #2d3250;
  --secondary-color: #676f9d;
  --bg-color: #2d3250;
  --button-color: #f9b17a;
  --secondary-bg-color: #bebfc8;
  --text-color1: #f9b17a;
  --text-color2: #51556f;
  --text-color3: #bebfc8;
  --header-color: #424769;
}

body {
  background-color: var(--bg-color);
  font-family: "Alumni Sans", sans-serif;
}

section {
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

/************************** HEADER ***********************/

.header {
  background-color: transparent;
  font-size: 25px;
  color: white;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: 1;
  transition: 0.3s;
}

.sticky {
  background-color: var(--header-color);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
}

.navbar a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
}

.navbar a:hover,
.navbar a.active {
  cursor: pointer;
  color: var(--text-color1);
}

#menu-icon {
  font-size: 25px;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

/************************** BANNER ***********************/
.banner {
  background: url("../assets/images/banner.jpg") rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  background-attachment: fixed;
  height: 80vh;
  position: relative;
}

.text-box {
  position: absolute;
  text-align: left;
  color: white;
  left: 20%;
  top: 40%;
}

.text-box h1 {
  animation: 1s h1 ease-out;
  position: absolute;
  font-family: "Alumni Sans", sans-serif;
  font-size: 60px;
  width: 200px;
}

@keyframes h1 {
  from {
    transform: translateX(-500px);
  }

  to {
    transform: translateX(0px);
  }
}

.text-box h3 {
  animation: 1s h3 ease-out;
  position: absolute;
  top: 65px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  width: 500px;
  color: var(--text-color1);
  margin-bottom: 30px;
}

@keyframes h3 {
  from {
    transform: translateX(-500px);
  }

  to {
    transform: translateX(0px);
  }
}

.text-box a {
  animation: 1.5s resume-btn linear;
  position: absolute;
  top: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: oblique;
  color: var(--text-color2);
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--button-color);
  color: var(--text-color2);
  border: 2px solid transparent;
  transition: 0.5s;
}

@keyframes resume-btn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.text-box a:hover {
  cursor: pointer;
  background-color: var(--header-color);
  border: 2px solid var(--text-color1);
  color: white;
}

/************************** ABOUT ***********************/

.about {
  padding: 80px 0;
  position: relative;
  color: var(--text-color3);
}

.about-flex {
  display: flex;
  align-items: center;
}

.about-flex .left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.about .left .image {
  background-image: url(../assets/images/me.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  border: 5px solid var(--secondary-bg-color);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  height: 400px;
  width: 400px;
  position: relative;
}

.about .right {
  width: 50%;
  padding: 0 10px 0 0;
}

.about .right .skills {
  display: wrap;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.about .right h2 {
  font-size: 40px;
  margin-bottom: 10px;
  color: var(--text-color1);
}

.about .right h2 span {
  color: var(--text-color1);
}

.about .right p {
  font-family: "Roboto", sans-serif;
}

.about .right a {
  color: var(--text-color3);
}

.about .right a:hover {
  color: var(--text-color1);
}

.about .right h3 {
  color: var(--header-color);
  font-size: 30px;
  color: var(--text-color1);
  margin-top: 20px;
  margin-bottom: 10px;
}

.skills {
  display: flex;
  gap: 10px;
}

/************************ PROJECTS ***********************/

.projects {
  text-align: center;
}

.projects .container {
  width: 70%;
}

.projects .thumbnail {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects article {
  width: 70%;
}

.projects h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: var(--text-color1);
}

.projects .card {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  gap: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: left;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  transition: 0.25s;
}

/* .projects .card:hover {
  scale: 1.025;
} */

.projects .card .thumbnail {
  height: 250px;
  width: 350px;
  margin: 0px 20px;
}

.projects .project1 .thumbnail {
  border: 2px solid white;
  background-image: url(../assets/images/audiosphere.png);
  background-size: cover;
}

.projects .project2 .thumbnail {
  height: 250px;
  width: 350px;
  border: 2px solid white;
  background-image: url(../assets/images/spendwise.png);
  background-size: cover;
}

.projects .project3 .thumbnail {
  height: 250px;
  width: 350px;
  border: 2px solid white;
  background-image: url(../assets/images/evrivals.png);
  background-size: cover;
}

.projects .project4 .thumbnail {
  height: 250px;
  width: 350px;
  border: 2px solid white;
  background-image: url(../assets/images/workout.png);
  background-size: cover;
}

.projects .project5 .thumbnail {
  height: 250px;
  width: 350px;
  border: 2px solid white;
  background-image: url(../assets/images/autoadis.png);
  background-size: cover;
}

.projects .project6 .thumbnail {
  height: 250px;
  width: 350px;
  border: 2px solid white;
  background-image: url(../assets/images/brewedawekening.png);
  background-size: cover;
}

.projects .project7 .thumbnail {
  height: 250px;
  width: 350px;
  border: 2px solid white;
  background-image: url(../assets/images/exclusia.png);
  background-size: cover;
}

.projects .project8 .thumbnail {
  height: 250px;
  width: 350px;
  border: 2px solid white;
  background-image: url(../assets/images/balancedlocus.png);
  background-size: cover;
}

.projects .card article {
  padding-right: 30px;
  width: 60%;
}

.projects article h3 {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
  transition: 0.3s;
}

.projects article p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  transition: 0.3s;
}

.projects article a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: var(--text-color2);
  background-color: var(--text-color1);
  font-size: 18px;
  padding: 5px 10px;
  margin: 10px 0;
  margin-right: 10px;
  transition: 0.3s;
}

.projects .card:hover a {
  animation: skew-y-shake 1.3s infinite;
}

@keyframes skew-y-shake {
  0% {
    transform: skewY(-10deg);
  }

  5% {
    transform: skewY(10deg);
  }

  10% {
    transform: skewY(-10deg);
  }

  15% {
    transform: skewY(10deg);
  }

  20% {
    transform: skewY(0deg);
  }

  100% {
    transform: skewY(0deg);
  }
}

.projects article a:hover {
  color: var(--text-color2);
}

.projects h4 {
  font-size: 20px;
  color: white;
  transition: 0.3s;
}

.projects .card:hover h3,
.projects .card:hover h4 {
  color: var(--text-color1);
}

.projects .card:hover p {
  color: white;
}


/************************** MARKETING ***********************/

.marketing {
  text-align: center;
  padding-bottom: 100px;
}

.marketing h2 {
  font-size: 40px;
  margin-bottom: 40px;
  color: var(--text-color1);
}

.marketing a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: oblique;
  color: var(--text-color2);
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--button-color);
  border: 2px solid transparent;
  transition: 0.3s;
}

.marketing a:hover {
  cursor: pointer;
  background-color: var(--header-color);
  border: 2px solid var(--text-color1);
  color: white;
}

/************************** CONTACT ***********************/

.contact {
  background-color: var(--secondary-bg-color);
  padding: 50px 0;
  text-align: center;
}

.contact h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.contact-flex {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contact .fa-linkedin,
.contact .fa-envelope {
  font-size: 50px;
  color: var(--primary-color);
}

.contact i:hover {
  color: var(--header-color);
  transition: 0.3s;
}

/************************** BREAKPOINTS ***********************/

@media (max-width: 1200px) {}

@media (max-width: 1050px) {
  .banner::before {
    right: 400px;
  }

  /******about********/

  .about-flex {
    flex-direction: column;
  }

  .about-flex .left {
    width: 100%;
    margin-bottom: 10px;
  }

  .about .right {
    text-align: center;
    width: 100%;
  }

  .about .right .skills {
    justify-content: center;
  }

  /******projects********/
  .projects .card {
    flex-direction: column;
    padding: 20px;
  }

  .projects .card article {
    padding-right: 0px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .header {
    background: var(--primary-color);
  }

  #menu-icon {
    display: block;
    padding: 0 30px;
  }

  .navbar {
    display: block;
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 0 30px;
    background-color: var(--primary-color);
    transition-delay: 0.25s;
  }

  .navbar.active {
    left: 0;
    transition-delay: 0s;
  }

  .navbar a {
    display: block;
  }
}

@media (max-width: 600px) {

  .text-box h1 {
    width: 230px;
  }

  .text-box h3 {
    top: 70px;
    width: 300px;
  }

  .text-box a {
    top: 130px;
  }

  .about .right .skills {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
  }

  .projects .container {
    width: 90%;
  }
}